<button class="btn btn-round hideButton" aria-label="Hide"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
<button class="btn btn-round settingsButton" aria-label="Settings"><a href="/settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></button>
<div id="topRow" class="row">
  <div class="timeCal col-sm-4">
    <div class="time text-center">
      <p class="timeText">
        {{hc.time}}
      </p>
    </div>
    <div class="calendar" ng-click="hc.logEvents()">
      <div ng-repeat="event in hc.eventList | orderBy: 'start'">
        <p class="eventTitle">
          {{event.title}}
        </p>
        <p class="eventTimes">
          {{event.start}} - {{event.end}}
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="weather">

      <div class="row currentConditions">
        <div class="col-sm-6">
          <img class="conditionIcon" ng-src="{{hc.conditions.iconURL}}" />
        </div>
        <div class="col-sm-6">
          <p class="currentTemp">
            {{hc.conditions.temp}}
          </p>
          <p class="highLow">
            {{hc.conditions.low}} | {{hc.conditions.high}}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <ul class="hourlyForecast">
            <li class="oneHour" ng-repeat="oneHour in hc.hourly">
              <img class="hourlyIcon" ng-src="{{oneHour.iconURL}}" />
              <span class="hourlyTemp">
                {{oneHour.temperature}}
              </span><br />
              <span>
                {{oneHour.time}}
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <h4 class="attireTitle">Attire</h4>
        <div class="col-sm-6 text-center">
          <img ng-src='{{hc.umbrellaURL}}' ng-show="hc.conditions.umbrella" />
        </div>
        <div class="col-sm-6 text-center">
          <img ng-src='{{hc.tshirtURL}}' ng-show="hc.conditions.tshirt" />
          <img ng-src='{{hc.jacketURL}}' ng-show="hc.conditions.jacket" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-center">
          <img ng-src='{{hc.mittensURL}}' ng-show="hc.conditions.mittens" />
        </div>
        <div class="col-sm-6 text-center">
          <img ng-src='{{hc.shortsURL}}' ng-show="hc.conditions.shorts" />
          <img ng-src='{{hc.pantsURL}}' ng-show="hc.conditions.pants" />
        </div>
      </div>

    </div>
  </div>
  <div class="col-sm-4">
    <div class="transit" ng-click="hc.logTransit()">
      <select class="form-control" ng-show="hc.stops.length != 0" ng-options="stop.name for stop in hc.stops" ng-init="hc.stops[0]" ng-model="hc.selectedDepartureStop" ng-change="hc.getDepartureInfo()"></select>
      <div class="row">
        <div class="col-sm-6">
          <p>
            Your bus will arrive at {{hc.selectedDepartureStop.name}} in:
          </p>
        </div>
        <div class="col-sm-6">
          {{hc.departures[0].departureText}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" ng-click="hc.logMaps()">
          You should leave to catch it in:
        </div>
        <div class="col-sm-6">

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <ng-map id="map" center="minneapolis, mn" zoom="12"></ng-map>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="news">
      <h1>Headline</h1>
      <p>
        Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
      </p>
    </div>
  </div>
</div>
