<button class="btn btn-round hideButton" aria-label="Hide"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
<button class="btn btn-round homeButton" aria-label="Settings"><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></button>
<div class="row">
  <div class="col-sm-12">
    <form class="styleForm">
      <input class="form-control" type="text" placeholder="border color"/>
      <input class="form-control" type="text" placeholder="text color"/>
      <input class="form-control" type="text" placeholder="background color"/>
      <input class="form-inline" type="checkbox" id="apodCheckbox" /><label for="apodCheckbox">Use Astronomy Picture of the Day</label>
      <button type="submit" class="btn btn-success form-control">Save</button>
      <button class="btn btn-danger form-control">Cancel</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <form class="locationForm">
      <input class="form-control" type="text" placeholder="address" />
      <input class="form-control" type="text" placeholder="city" />
      <input class="form-control" type="text" placeholder="state" />
      <input class="form-control" type="text" placeholder="zip" />
      <input class="form-inline" type="checkbox" id="weatherCheckbox" /><label for="weatherCheckbox">Use For Weather</label>
      <input class="form-inline" type="checkbox" id="transitCheckbox" /><label for="transitCheckbox">Use For Transit</label>
      <button type="submit" class="btn btn-success form-control">Save</button>
      <button class="btn btn-danger form-control">Cancel</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <form class="transitForm">
      <button class="btn btn-info">Add a Bus Stop</button>
      <button class="btn btn-info">Edit Bus Stop</button>
      <select><option>Default Value</option></select>

      <button type="submit" class="btn btn-success form-control">Save</button>
      <button class="btn btn-danger form-control">Cancel</button>
    </form>
  </div>
</div>
