<button class="btn btn-round hideButton" ng-click="ic.fadeViewOut()" aria-label="Hide"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
<a href="/" class="routeLink"><button class="btn btn-round homeButton" aria-label="Settings"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button></a>

<div class="row">
  <div class="col-sm-12 styleSettings">
    <div class="col-sm-6">
      <h3>Current Styles</h3>
      <div class="row exampleStyleContainer">
        <div class="col-sm-9">
          Border Color:
        </div>
        <div class="col-sm-3">
          <div class="exampleStyle" colorpicker ng-style="{'background': ic.selectedStyle.borderColor}" ng-model="sc.selectedStyle.borderColor" ></div>
        </div>
      </div>
      <div class="row exampleStyleContainer">
        <div class="col-sm-9">
          Text Color:
        </div>
        <div class="col-sm-3">
            <div class="exampleStyle" colorpicker ng-model="sc.selectedStyle.color" ng-style="{'background-color': ic.selectedStyle.color}"></div>
        </div>

      </div>
      <div class="row exampleStyleContainer">
        <div class="col-sm-9">
          Background:
        </div>
        <div class="col-sm-3">
            <div class="exampleStyle" colorpicker ng-model="sc.selectedStyle.background" ng-style="{background: ic.selectedStyle.background}"></div>
        </div>
      </div>
      <p class="apodInfo" >
        {{ic.selectedStyle.title}}: {{ic.selectedStyle.explanation}}
      </p>
    </div>

    <div class="col-sm-6">
      <form class="styleForm">
        <input class="form-control textInput" type="text" placeholder="border color" ng-model="sc.selectedStyle.borderColor"/>
        <input class="form-control textInput" type="text" placeholder="text color" ng-model="sc.selectedStyle.color"/>
        <input class="form-control textInput" type="text" placeholder="background color" ng-model="sc.selectedStyle.background"/>
        <input class="form-inline" type="checkbox" id="apodCheckbox" ng-model="sc.selectedStyle.useAPOD"/><label id="apodCheckboxLabel" for="apodCheckbox">Use Astronomy Picture of the Day</label><br />
        <input class="datePicker form-inline" type="date" ng-show="sc.selectedStyle.useAPOD" ng-model="sc.selectedStyle.apodDate"/><label class="apodDateLabel" ng-show="sc.selectedStyle.useAPOD" >Use a previous day's image</label>

        <button id="saveStyles" type="submit" class="btn btn-success form-control" ng-click="sc.saveStyles()">Save</button>
        <button id="cancelStyles" class="btn btn-danger form-control" ng-click="sc.cancelSaveStyles()">Cancel</button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 locationSettings">
    <div class="col-sm-6 currentLocation">
      <h3>Current Location</h3>
      <p>
        {{sc.currentLocation.address}}
      </p>
      <p>
        {{sc.currentLocation.city}} {{sc.currentLocation.state}} {{sc.currentLocation.zip}}
      </p>
    </div>
    <div class="col-sm-6">
      <form class="locationForm" >
        <input class="form-control textInput" type="text" placeholder="address" ng-model="sc.location.address"/>
        <input class="form-control textInput" type="text" placeholder="city" ng-model="sc.location.city"/>
        <input class="form-control textInput" type="text" placeholder="state" ng-model="sc.location.state"/>
        <input class="form-control textInput" type="text" placeholder="zip" ng-model="sc.location.zip"/>
        <button id="saveLocation" type="submit" ng-click="sc.setLocation()" class="btn btn-success form-control">Save</button>
        <button id="cancelLocation" class="btn btn-danger form-control" ng-click="sc.cancelSaveLocation()">Cancel</button>
      </form>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-12 transitSettings">

    <div class="col-sm-6">
      <form class="editTransitForm">
        <select id="removeStopSelect" class="form-control" ng-show="sc.editStops.length != 0" ng-options="stop.name for stop in sc.editStops" ng-model="sc.selectedDepartureStop" ng-change=""><option value="">Select A Bus Stop</option></select>
        <button id="removeStop" class="btn btn-warning form-control" ng-show="sc.editStops.length != 0" ng-click="sc.removeBusStop()">Remove Stop</button>
      </form>
    </div>
    <div class="col-sm-6">
      <form class="transitForm" ng-click="sc.logDirections()">
        <button id="addStop" class="btn btn-info form-control" ng-click="sc.getRoutes()">Add a Bus Stop</button>
        <select id="addRouteSelect" class="form-control" ng-options="route.Description for route in sc.routes" ng-model="sc.selectedRoute" ng-show="sc.routes.length != 0" ng-change="sc.getDirection()"><option value="">Select A Bus Route</option></select>

        <div class="radios text-center" ng-show="sc.cardinalDirections.northSouth || sc.cardinalDirections.eastWest">
          <label class="form-inline busRadio firstRadio" ng-show="sc.cardinalDirections.northSouth" for="southRadio"><input class="radio" type="radio" ng-change="sc.getStops()" ng-value="1" id="southRadio" ng-model="sc.selectedDirection"/>South</label>
          <label class="form-inline busRadio firstRadio" ng-show="sc.cardinalDirections.eastWest" for="eastRadio"><input class="radio" type="radio" ng-change="sc.getStops()" ng-value="2" id="eastRadio" ng-model="sc.selectedDirection"/>East</label>
          <label class="form-inline busRadio" ng-show="sc.cardinalDirections.eastWest" for="westRadio"><input class="radio" type="radio" ng-change="sc.getStops()" ng-value="3" id="westRadio" ng-model="sc.selectedDirection" />West</label>
          <label class="form-inline busRadio" ng-show="sc.cardinalDirections.northSouth" for="northRadio"><input class="radio" type="radio" ng-change="sc.getStops()" ng-value="4" id="northRadio" ng-model="sc.selectedDirection" />North</label>
        </div>

        <select id="addStopSelect" class="form-control" ng-options="stop.Text for stop in sc.stops" ng-model="sc.selectedStop" ng-show="sc.stops.length != 0"><option value="">Select A Bus Stop</option></select>
        <span ng-show="sc.createStopResponse.value == 200">Stop Saved!</span>
        <span ng-show="sc.createStopResponse.value == 500">Stop Not Saved!</span>
        <button ng-show="sc.selectedStop" id="createStop" type="submit" class="btn btn-success form-control" ng-click="sc.createStop()">Save</button>
        <button ng-show="sc.selectedStop" id="cancelCreateStop" ng-click="sc.cancelCreateStop()" class="btn btn-danger form-control">Cancel</button>

      </form>
    </div>
  </div>
</div>
